# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / OS
.DS_Store
Thumbs.db
*.pem

# local env / secrets
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# misc
coverage/
*.log
.idea/
.vscode/
eas-list.json
eas-view-*.json
eas-build-*.txt
eas-build-*.json
